
@{
    ViewData["Title"] = "Create";
}

<form asp-controller="Test" asp-action="Create" method="post">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Name" aria-label="Name" name="Name">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Surname" aria-label="Surname" name="Surname">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Email" aria-label="Email" name="Email">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Password" aria-label="Password" name="Password">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="isAdmin" aria-label="isAdmin" name="isAdmin">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">User created</button>
</form>
